startAt Parking;

aliasGroup followPathway as [
  "Go Pathway",
  "Follow Pathway"
];

aliasGroup goPlayground as [
  "Go Playground",
  "Goto Playground"
];

aliasGroup goShelter as [
  "Go Shelter" ,
  "Goto Shelter"
];

aliasGroup goBathroom as [
  "Go Bathroom",
  "Goto Bathroom"
];

aliasGroup goField as [
  "Go Field",
  "Goto field"
];

aliasGroup goParking as [
  "Goto Parking Lot",
  "Go Parking"
];